.card1 {
    padding: 10rem 0 0;
    max-width: 35ch;
    background-size: cover;
}

.card1-content {
    padding: 1.5em;
    background: linear-gradient(
        hsl(0, 0%, 0% / 0),
        hsl(20 0% 0% / 0.3) 20%,
        hsl(0, 0%, 0% / 1),
    );
}
.card1-title::after {
    content: "";
    position: absolute;
    /* left: 0; */
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #0983;
}
.card1-title {
    position: relative;
}