.card1 {
    padding: 10rem 0 0;
    max-width: 35ch;
    background-size: cover;
}

.card-content {
    padding: 1.5em;
    background: linear-gradient(
        hsl(0, 0%, 0% / 0),
        hsl(20 0% 0% / 0.3) 20%,
        hsl(0, 0%, 0% / 1),
    );
}